@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Cal Sans", sans-serif;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search {
    border-radius: 20px;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.185);
    font-size: 100px;
    font-family: "Cal Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.199);
    text-align: center;
}

#app {
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
img {
    border: 1px solid #ccc;
}